body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

.sidebar {
  background: #000;
  color: #fff;
  padding: 0px;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
}

.topbar {
  position: fixed;
  background: #000;
  color: #fff;
  height: 200px;
  width: 100vh;
}

button {
  display: block;
  width: 200px;
  margin: 40px 0;
  padding: 4px;
  font-size: 20px;
  color: #fff;
  background: #000000;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

#button-container {
  display: flex;
  justify-content: flex-start;
}

button.active {
  color: #000;
  background: #fff;
}

button:hover {
  background: #555;
}

.main-content {
  margin-left: 650px;
  margin-top: 150px;
  padding: 20px;
}

#course-dropdown {
  padding: 10px;
  width: 150px;
  margin-left: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.canvas {
  border: 5px solid #080808;
}
.canvas.highlighted {
  border-color: red; /* Adjust color as needed */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.inputField {
  align-content: center;
}

.floor-number {
  left: 500px;
  top: 10px;
}
